.canvas {
    
}

#note {
    flex: 1;
    display: flex;
    align-items: stretch;
    & .paper {
        flex: 1;
        display: flex;
        flex-direction: row;
        z-index: 0;
        justify-content: center;
        overflow: scroll;
        /*align-items:center;*/
    }
    & .paper::-webkit-scrollbar {
        display: none;
    } 
    & .card-List {
        flex: 1;
        display: flex;
        flex-direction: column;
        z-index: 0;
        align-items: center;
    }
    & .hover {;
        flex: 0 0 60px;
        display: flex;
        z-index: 3;
        /*position: fixed;*/
        /*left: 0px;*/
        /*height: 100%;*/
        border-right: solid #DDDDDD 1px;
        & .fixedBar {
            display: flex;
            flex-direction: column;
            left: 0px;
            z-index: 10;
            height: 100%;
            width: 60px;
        }
    }
}