@font-face {
    font-family: 'Noto Sans KRBold';
    src: url('../../../../../static/fonts/NotoSansKR-Bold-Hestia.woff') format('woff');
}

.container {
    height: 282px;
    width: 212px;
    background-color: #ffffff;
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    outline: none;
    transition: all ease 0.25s;
    border: solid 1px #dfdfdf;
    font-family: 'Noto Sans KR', sans-serif;
    & .head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 122px;
        background-position: center;  
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & .box {
            padding-top: 20px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 14px;
            & .timestamp {
                font-size: 14px;
                line-height: 1.62;
                letter-spacing: -0.3px;
            }
            & .title {
                font-family: 'Noto Sans KRBold', sans-serif;
                max-height: 66px;
                overflow: hidden;
                font-size: 24px;
                line-height: 1.4;
                letter-spacing: -0.6px;
            }
        }
    }
    & .preview {
        height: 95px;
        margin-top: 20px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 12px;
        line-height: 1.62;
        letter-spacing: -0.3px;
        color: rgb(81, 88, 97);
        overflow: hidden;
    }
    & .tags {
        height: calc(100% - 122px - 20px - 95px);
        font-size: 12px;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
        color: #babac0;
        padding-top: 16px;
        letter-spacing: -0.3px;
        & .tagInstance {
            height: 13px;
            overflow: hidden;
        }
    }
}

.container:hover {
    box-shadow: 0 5px 10px 0 rgba(53, 57, 70, 0.2);
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}