.container {
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    overflow: auto;
    & .sideHead {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 40px;
    }
    & .editorHead {
        display: flex;
        justify-content: center;
        height: 120px;
        width: 100%;
    }
    & .mainEditor {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.container::-webkit-scrollbar {
        display: none;
}      