.container {
    width: 603px;
    min-width: 200px;
    height: 100%;
    box-sizing: border-box;
    padding-right: 30px;
    & .tagBox {
        height: 25px;
        display: flex;
        overflow: hidden;
        opacity: 0.38;
        & .gutter {
            flex: 0 0 30px;
            font-size: 10px;
            color: #babac0;
            letter-spacing: -0.3px;
            text-align: right;s
            margin-right: 6px;
            font-family: NotoSansCJKkr-Regular;
        }
        & .gutter:hover {
            color: #515861;
        }
        & .gutter:focus {
            color: #515861;
        }
        & .tagContainer {
            flex: 0 0 calc(100% - 36px);
            border: none;
            font-family: NotoSansCJKkr-Regular;
            font-size: 12px;
            color: #babac0;
            letter-spacing: 1px;
            height: 100%;
            outline: none;
            background-color: #FCFCFC;
        }
        & .tagContainer:hover {
            color: #515861;
        } 
        & .tagContainer:focus {
            color: #515861;
        }         
    }
    & .titleHead {
        height: 45px;
        & .gutter {
            display: inline-block;
            width: 35px;
            opacity: 0.38;
            font-family: NotoSansCJKkr-Bold;
            font-size: 14px;
            line-height: 1.62;
            letter-spacing: -0.3px;
            text-align: center;
            & .gutterName {
                color: #babac0;
                font-family: NotoSansCJKkr-Regular;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            & .gutterName:hover {
                color: #515861;
            }
        }
        & .title {
            width: calc(100% - 37px);
            display: inline-block;
            border: none;
            font-family: NotoSansCJKkr-Bold;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.62;
            letter-spacing: -0.9px;
            color: #353946;
            height: 100%;
            outline: none;
            background-color: #FCFCFC;
        }
        & .title::placeholder {
            font-size: 30px;
            color: #babac0;
        }
    }
    & .borderBox {
        width:100%;
        height: 10px;
        margin-top: 5px;
        & .borderLine {
            margin-left: 35px;
            width: calc(100% - 35px);
            height: 10px;
            border-bottom: 1px solid #dfdfdf;
        }
    }
}