.container {
    height: 282px;
    width: 212px;
    border: 1px solid #f4f4f4;
    & .head {
        & .timestamp {

        }
        & .title {

        }
    }
    & .content {
        & .preview {

        }
        & .tag {

        }
    }
}