.container {
    position: absolute; top: 0; right:0; bottom:0; left:0;
    width: 580px; margin-left:auto; margin-right:auto; 
    height: 100%;
    & .tagBox {
        height: 25px;
        display: flex;
        overflow: hidden;
        opacity: 0.38;
        & .gutter {
            flex: 0 0 30px;
            font-size: 10px;
            letter-spacing: -0.3px;
            opacity: 0.38;
            color: #babac0;
            text-align: right;
            margin-right: 6px;
            font-family: NotoSansCJKkr-Regular;
        }
        & .gutter:hover {
            color: #515861;
        }
        & .gutter:focus {
            color: #515861;
        }       
        & .tagContainer {
            flex: 0 0 540px;
            border: none;
            font-family: NotoSansCJKkr-Regular;
            font-size: 12px;
            color: #babac0;
            letter-spacing: 1px;
            height: 100%;
            outline: none;
            background-color: #FCFCFC;
        }
        & .tagContainer:hover {
            color: #515861;
        }
        & .tagContainer:focus {
            color: #515861;
        }
    }
    & .titleHead {
        height: 45px;
        display: flex;
        & .gutter {
            flex: 0 0 35px;
            opacity: 0.38;
            font-family: NotoSansCJKkr-Bold;
            font-size: 14px;
            line-height: 1.62;
            letter-spacing: -0.3px;
            text-align: center;
            color: #babac0;
            & .gutterName {
                opacity: 0.38;
                font-family: NotoSansCJKkr-Regular;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            & .gutterName:hover {
                color: #515861;
            }
        }
        & .title {
            flex: 0 0 540px;
            border: none;
            font-family: NotoSansCJKkr-Bold;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.62;
            letter-spacing: -0.9px;
            color: #353946;
            height: 100%;
            outline: none;
            background-color: #FCFCFC;
        }
        & .title::placeholder {
            font-size: 30px;
            color: #babac0;
        }
    }
    & .borderBox {
        display: flex;
        justify-content: flex-end;
        width:100%;
        height: 10px;
        margin-top: 5px;
        & .borderLine {
            width: 540px;
            height: 10px;
            border-bottom: 1px solid #dfdfdf;
        }
    }
}