/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
    width: 550px;
}

/* Styles for the input */
div.ReactTags__tagInput {
    display: inline-block;
    width: 100px;
    border-radius: 2px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    margin: 0;
    border: none;
    background-color: #fcfcfc;
    outline: none;
    height: 27px;
    font-size: 12px;
    width: 100%;
}

/* Styles for selected tags */
div.ReactTags__selected div.ReactTags__tag {
    display: inline-block;
    margin: 0 5px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 12px;
    cursor: move;
    opacity: 1;
    /* width: 62px; */
    object-fit: contain;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #babac0;
}

div.ReactTags__tag div.tagText{
    display: inline-block;
    font-family: NotoSansCJKkr-Regular;
	font-size: 12px;
}

div.ReactTags__selected div.ReactTags__remove {
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: 17px;
    margin-left: 5px;
    cursor: pointer;
}

div.ReactTags__remove:hover {
    color: #FF3466;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    background: white;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    width: 200px;
}
div.ReactTags__suggestions li {
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
div.ReactTags__suggestions li mark {
    background: none;
    text-decoration: underline;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}