/* Define some variables we might want to use elsewhere */
:root {
  --fg: #0b2296;
  --bg: #00bcd4;
}
html {
  height:100%; 
}

body { 
  position: absolute;
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
}

body::-webkit-scrollbar {
  display: none;
} 

#app {
  height: 100vh; 
  position: relative
}

@media (max-width: 800px) {
  #mainComponent {
    & .head {
      height: 0px !important;
    }
    & .mainContainer {
        margin-top: -1px !important;
    }
  }
}
  #mainComponent {
    width: 100%;
    height: 100%;
    & .head {
      box-sizing: border-box;
      top: 0px;
      width: 100%;
      opacity: 0.97;
      background-color: #ffffff;
      border-bottom: solid 1px #dfdfdf; 
      overflow: auto;
      position: fixed;
      z-index: 1;
    }
    & .mainContainer {
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        & .sideBar {
          z-index: 3;
          position: absolute;
          display: flex;
          flex-direction: column;
          left: 0px;
          justify-content: flex-start;
          height: 100%;
          width: 56px;
          border-right: solid 1px #dfdfdf;
          overflow: auto;
       }
       & .note {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
        }
    }
  }

