@media (max-width: 800px) {
  .overlay {
      & .modal {
        width: 630px !important;
      }
   }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 999;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    & .modal {
        position: relative; top: 0; right:0; bottom:0; left:0;
        width: 1000px; margin-left:auto; margin-right:auto; 
        box-sizing: border-box;
        padding-top: 64px;
        margin-bottom: 150px;
        outline: none;
        & .ModalContainer {
            background-color: #fcfcfc;
            box-sizing: border-box;
            padding-top: 64px;
            padding-bottom: 128px;
            border-radius: 10px;
            position: relative;
                & .editorBox {
                    width: 100%;
                    height: 100%;
                    & .loader {
                        position: absolute;
                        top: 14px;
                        left: 40px;
                    }
                    & .sideHead {
                        position: absolute;
                        display: flex;
                        top: 0;
                        left: 0;
                        justify-content: flex-end;
                        width: 100%;
                        height: 40px;
                    }
                    & .editorHead {
                        position: relative;
                        height: 100px;
                        width: 100%;
                    }
                    & .mainEditor {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-left: 2.2rem;
                        box-sizing: border-box;
                    }
                }
        }
    }
}

.overlay::-webkit-scrollbar {
        display: none;
} 

