.container {
    position: relative;
    width: 100%;
    height: 100%;
    & .icon {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        opacity: 0.38;
    }
    & .searchBox {
        position: absolute;
        top: 15px;
        left: 56px;
        width: 258px;
        height: 29px;
        & .searchIc {
            z-index: 1;
            position: absolute;
            width: 30px;
	        height: 30px;
            top: 1px;
            opacity: 0.38;
        }
    }
    & .modeButton {
        position: absolute;
        top: 18px;
        left: 333px;
        outline: none;
    }
    & .tagButton {
        position: absolute;
        top: 23px;
        left: 363px;
        outline: none;
    }
}
