.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & .searchBox {
        position: absolute; top: 0; bottom:0;
        left: 23px;
        width: 258px;
        height: 29px; margin-top:auto; margin-bottom:auto;
    }
    & .addNoteIconBox {
        position: absolute; top: 0; bottom:0;
        left: 295px;
        cursor: pointer;
        height: 25px; margin-top:auto; margin-bottom:auto;
        width: 80px;
        outline: none;
        & .addNoteIcon {
            display: inline-block;
            height: 25px; margin-top:auto; margin-bottom:auto;
            width: 25px;
        }
        & .textIcon {
            display: inline-block;
            margin-left: -3px;
            height: 25px;
        }
    }
    & .loader {
        position: absolute; top: 0; bottom:0;
        left: 295px;
        margin-top:auto; margin-bottom:auto;
    }
    & .changeMode {
        position: absolute; top: 0; bottom: 0; left: 47%;
        height: 29px; margin-top: auto; margin-bottom: auto;
        width: 110px;
        & .changeLink {
            display: inline-block;
            height: 100%;
            & .Button {
                width: 52px;
                height: 100%;
                border-radius: 4px;
                letter-spacing: -0.3px;
                & .name {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
    }
     & .tag {
            position: absolute;
            top: 0;
            right: 240px; bottom:0;
            height: 47px; margin-top:auto; margin-bottom:auto;
            width: 48px;
            outline: none;
            cursor: pointer;
            & .name {
                position: absolute; top: 0; right:0; bottom:0;
                left:0;
                margin-left:auto; margin-right:auto; 
                margin-top:auto; margin-bottom:auto;
                font-family: NotoSansCJKkr-Regular;
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
        }
        & .social {
            position: absolute; top: 0;
            right: 190px;
            height: 47px; margin-top:auto; margin-bottom:auto;
            width: 48px;
            outline: none;
            cursor: pointer;
            & .name {
                position: absolute; top: 0; right:0; bottom:0;
                left:0;
                margin-left:auto; margin-right:auto; 
                margin-top:auto; margin-bottom:auto;
                font-family: NotoSansCJKkr-Regular;
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
        }
        & .focusFull {
            position: absolute;
            top: 0;
            right: 140px;
            height: 47px; margin-top:auto; margin-bottom:auto;
            width: 48px;
            outline: none;
            cursor: pointer;
            & .name {
                position: absolute; top: 0; right:0; bottom:0;
                left:0;
                margin-left:auto; margin-right:auto; 
                margin-top:auto; margin-bottom:auto;
                font-family: NotoSansCJKkr-Regular;
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
        }
        & .theme {
            position: absolute;
            top: 0;
            right: 90px;
            height: 48px; margin-top:auto; margin-bottom:auto;
            width: 48px;
            outline: none;
            cursor: pointer;
            & .name {
                position: absolute; top: 0; right:0; bottom:0;
                left:0;
                margin-left:auto; margin-right:auto; 
                margin-top:auto; margin-bottom:auto;
                font-family: NotoSansCJKkr-Regular;
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
        }
        & .selectList {
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 40px;
                right: 80px;
                border: solid 1px #dfdfdf;
                width: 133px;
                height: 290px;
                padding-bottom: 8px;
                background-color: white;
                box-sizing: border-box;
                box-shadow: 0 5px 10px 0 rgba(53, 57, 70, 0.2);
                & .menuTitle {
                    flex: 0 0 32px;
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    & .name {
                        position: absolute; top: 15px; bottom:0;
                        left: 14px;
                        color: #babac0;
                        font-family: NotoSansCJKkr-Regular;
                        font-size: 10px;
                        letter-spacing: -0.2px; 
                    }
                }
                & .selectBox {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    & .selectOne {
                        flex: 1;
                        position: relative;
                        display: flex;
                        box-sizing: border-box;	
                        width: 100%;
                        object-fit: contain;
                        font-family: NotoSansCJKkr-Regular;
                        font-size: 12px;
                        line-height: 1.62;
                        letter-spacing: -0.3px;
                        color: #515861;
                        align-items: center;
                        outline: none;
                        & .name {
                            position: absolute; top: 0; bottom:0;
                            left: 14px;
                            height: 18px; margin-top:auto; margin-bottom:auto;
                        }
                        & .circle {
                            position: absolute;
                            right: 15px;
                            border-radius: 50%;
                            width: 8px;
                            height: 8px;
                            top: 0;
                            bottom: 0;
                            margin-top: auto;
                            margin-bottom: auto;
                        }
                    }
                    & .selectOne:hover {
                        background-color: #f4f4f4;
                    }
                }
            }         
    & .profileBox {
            position: absolute;
            top: 0;
            right: 20px;
            height: 47px; margin-top:auto; margin-bottom:auto;
            width: 32px;
        & .photo {
            border: 1px solid #dfdfdf;
            position: absolute; top: 0; right:0; bottom:0;
            left:0;
            width: 32px; margin-left:auto; margin-right:auto; 
            height:32px; margin-top:auto; margin-bottom:auto;
            border-radius: 50%;
        }
    }
}