@import url('https://fonts.googleapis.com/css?family=Lato:700');

.tagBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30px;
        & .tagContent {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            & .selectedTagList {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                max-width: 550px;
                overflow: scroll;
                & .oneOfTag {
                    /*background-color: #ff3466;*/
                    display: flex;
                    margin: auto 2px auto 2px;
                    padding: 1px 6px 1px 6px;
                    border: solid 1px var(--rianColor);
                    font-family: 'Lato';
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    text-align: center;
                    height: 14px;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    color: var(--rianColor);;
                    & .delete {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-right: 3px;
                        background-color: var(--rianColor);
                    }
                    & .delete:hover {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-right: 3px;
                        background-color: #ffffff;
                    }
                }
                & .oneOfTag:hover {
                    color: #ffffff;
                    background-color: var(--rianColor);;
                }
            }
            & .selectedTagList::-webkit-scrollbar {
                display: none;
            }      
            & .tagContent::-webkit-scrollbar {
                display: none;
            }        
            & .tagSearchInput {
                border: none;
                outline: none;
            }
            & .tagSearchInput::-webkit-scrollbar {
                display: none;
            }       
        }
}
