@import url('https://fonts.googleapis.com/css?family=Lato:300,700,900');

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    font-family: 'Lato';
    .box {
        display: flex;
        flex: 0 0 110px;
        flex-direction: row;
        border: solid 1px #eaeaea;
        width: 240px;
        border-radius: 8px;
        background-color: #ffffff;
        & .left {
            position: relative;
            flex: 0 0 50%;
            height: 100%;
            border-radius: 8px 0 0 8px;
            & .block {
                position: absolute;
                top: 18px;
                left: 15px;
                width: 6px;
                height: 14px;
                background-color: var(--rianColor);
            }
            & .title {
                position: absolute;
                top: 15px;
                left: 20px;
                overflow: hidden;
                width: 70%;
                height: 50%;
                font-family: 'Lato';
                font-size: 15px;
                font-weight: 700;
                line-height: 1.3;
                color: black;
            }
            & .title:hover {
                color: white !important;
            }
        } 
        & .right {
            display: flex;
            flex: 0 0 46%;
            
            flex-direction: column;
            & .snippet {
                flex: 0 0 65px;
                margin: 16px 5px auto 5px;
                text-align: left;
                overflow: hidden;
                font-family: 'Lato';
                font-size: 12px;
                font-weight: 300;
                line-height: 13px;
                color: #9e9e9e;
            }
            & .snippet:hover {
                color: white !important;
            }
            & .tag {
                padding: 0 2px 2px 2px;
 
                height: 20px;
                margin-top: -13px;
                margin-right: 8px;
                text-align: right;
                & .tagInstance {
                    margin-top: 2px;
                    margin-left: 1px;
                    width: 100%;
                    height: 14px;
                    overflow: hidden;
                    letter-spacing: 0.1em;
                    font-size: 10px;
                    font-weight: 700;
                    color: var(--rianColor);
                }
                & .tagInstance:hover {
                    color: white !important;
                }
            }
        }   
    }
    .box:hover {
        border: none;
        background-color: var(--rianColor);
    }
    .box:hover .title:not(:hover){
        color: white !important;
    }
    .box:hover .snippet:not(:hover){
        color: white !important;
    }
    .box:hover .tagInstance:not(:hover){
        color: white !important;
    }
}

