@font-face {
    font-family: 'Noto Sans KRBold';
    src: url('../../../../static/fonts/NotoSansKR-Bold-Hestia.woff') format('woff');
}

@media (max-width: 800px) { 
    .container {
        flex: 0 0 0 !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 100%;
    border-right: 1px solid #dfdfdf;
    box-sizing: border-box;
    & .head {
        position: relative;
        width: 100%;
        padding-top: 28px;
        padding-left: 20px;
        padding-bottom: 5px;
        box-sizing: border-box;
        & .status {
            display: inline-block;
            width: 80px;
            overflow-x: hidden;
            & .title {
                font-family: 'Noto Sans KRBold', sans-serif;
                font-size: 24px;
                overflow: hidden;
                line-height: 1.62;
                letter-spacing: -0.6px;
                color: rgb(81, 88, 97);
            }
            & .count{
                font-size: 12px;
                line-height: 1.62;
                letter-spacing: 0.5px;
                color: #515861;
            }
        }
        & .loader {
            position: absolute; top: 12px;
            right: 12px; bottom:0;
        }
        & .selectButton {
            position: absolute;
            display: inline-block;
            right: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            & .button {
                position: absolute; top: 0; right:0; bottom:0;
                left:0;
                width: 20px; margin-left:auto; margin-right:auto; 
                height: 20px; margin-top:auto; margin-bottom:auto;
                outline: none;
                & buttonIcon {
         
                }
                & .buttonIcon:hover {
                    opacity: 0.58;
                }
            }
            & .selectList {
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 100px;
                left: 130px;
	            border: solid 1px #dfdfdf;
                z-index: 999;
                width: 133px;
                height: 126px;
                background-color: white;
                box-shadow: 0 5px 10px 0 rgba(53, 57, 70, 0.2);
                & .menuTitle {
                    flex: 0 0 32px; 
                    display: flex;
                    box-sizing: border-box;
                    padding-left: 10px;
                    width: 100%;
                    opacity: 0.38;
                    font-size: 10px;
                    line-height: 1.94;
                    letter-spacing: -0.2px;
                    align-items: flex-end;
                    p {  
                        margin: 0;
                    }
                }
                & .selectBox {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    & .selectOne {
                        flex: 1;
                        display: flex;
                        box-sizing: border-box;	
                        width: 100%;
                        padding-left: 10px;
                        object-fit: contain;
                        font-size: 12px;
                        line-height: 1.62;
                        letter-spacing: -0.3px;
                        color: #515861;
                        align-items: center;
                        outline: none;
                        p {
                            margin: 0;    
                        }
                    }
                    & .selectOne:hover {
                        background-color: #f4f4f4;
                    }
                }
            } 
        }
    }
    & .sortBox {
        position: relative;
        height: 30px;
        box-sizing: border-box;
        padding-top: 6px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        font-weight: 800;
        & .sortButtonLeft {
            position: absolute;
            left:20px;
            display: inline-block; 
            height: 11px; margin-top:auto; margin-bottom:auto;
            font-size: 11px;
            letter-spacing: -0.3px;
            color: #515861;
            outline: none;
            cursor: pointer;
        }
        & .sortButtonRight {
            display: inline-block;
            position: absolute;
            right: 30px;
            height: 11px; margin-top:auto; margin-bottom:auto;
            font-size: 11px;
            letter-spacing: -0.3px;
            color: #515861;
            outline: none;
            cursor:pointer;
        }        
    }
    & .showAllNote {
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        padding-left: 20px;
        font-size: 14px;
        width: 100%;
        height: 40px;
        font-weight: 700;
        letter-spacing: -.3px;
        color: #515861;
    }
    & .scrollBox {
        flex: 1;
        overflow-y: auto;
    }
    & .scrollBox::-webkit-scrollbar {
        display: none;
    }    
}