.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    border-right: 1px solid #dfdfdf;
    box-sizing: border-box;
    & .head {
        flex: 0 0 60px;
        display: flex;
        flex-direction: row;
        margin-top: 28px;
        margin-left: 24px;
        margin-bottom: 12px;
        & .status {
            flex: 0 0 80%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            & .title {
                flex: 0 0 60%;
                font-family: NotoSansCJKkr-Bold;
                font-size: 24px;
                overflow: hidden;
                font-weight: bold;
                line-height: 1.62;
                letter-spacing: -0.6px;
                color: #353946;
            }
            & .count{
                flex: 0 40%;
                font-family: NotoSansCJKkr-Regular;
                font-size: 12px;
                line-height: 1.62;
                letter-spacing: 0.5px;
                color: #515861;
            }
        }
        & .selectButton {
            flex: 0 0 20%;
            & .button {
                margin-top: 5px;
                margin-right: 8px;
            }
        }
    }
    & .sortBox {
        display: flex;
        height: 30px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 12px;
        & .sortButtonLeft {
            height: 100%;
            font-family: NotoSansCJKkr-Regular;
            font-size: 11px;
            line-height: 1.77;
            letter-spacing: -0.3px;
            color: #515861;
            margin-left: 10px;
            outline: none;
        }
        & .sortButtonRight {
            height: 100%;
            font-family: NotoSansCJKkr-Regular;
            font-size: 11px;
            line-height: 1.77;
            letter-spacing: -0.3px;
            color: #515861;
            margin-right: 10px;
            outline: none;
        }
    }
    & .scrollBox {
        flex: 1;
    }
}