@import url('https://fonts.googleapis.com/css?family=Lato:900');

.container {
	margin-top: 10px;
	min-width: 700px;
}
.mainBox {
		& .head {
			margin-left: 1%;
			margin-bottom: 30px;
			& .title {
				display: block;
				width: 100%;
				border: none;
				font-size: 30px;
				color: var(--rianColor);
				height: 40px;
				margin: 0px;
				resize: none;
				text-align: left;
				font-weight: 900;
				font-family: 'Lato';
			}

			& .title:focus {
				outline: none;
			}
		}
		& .tag {
			
		}
}


