.modal{
		position: absolute;
		flex-direction: row;
        display: flex;
		top: auto;
		right: auto;
		bottom: auto;
		left: 50%;
		border-radius: 8px;
		margin-top: 300px;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		outline: none;
		padding-top: 150px;
        & .container {
            width: 1000px;
            min-height: 600px;
			height: 0px;
			border-radius: 8px;
            display: flex;
            flex-direction: row;
			justify-content: center;
        }
}


.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
        overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
}

.overlay::-webkit-scrollbar {
        display: none;
} 
