.container {
    position: absolute; top: 0; right:0; bottom:0;
    left:0;
    width: 700px; margin-left:auto; margin-right:auto; 
    height:300px; margin-top:auto; margin-bottom:auto;
    & .head {
         margin-bottom: 70px;
        & .headName {
            font-weight: Bold;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.62;
            letter-spacing: -0.4px;
            text-align: center;
            color: #353946;
            margin-bottom: 0px;
        }
        & .subName {
            text-align: center;
            font-size: 14px;
            line-height: 2.43;
            letter-spacing: -0.3px;
            text-align: center;
            color: #515861;
            margin-top: -7px;
        }
    }
    & .Loader {
    }
    & .middle {
        position: absolute;
        height: 100px;
        width: 100%;
        & .form {
            position: absolute; 
            right:0;
            left:0;
            width: 520px;
            height: 65px; margin-left:auto; margin-right:auto; 
            & .leftBox {
                display: inline-block;
                width: 368px;
                height: 50px;
                position: relative;
                & .formInput { 
                    width: 368px;
                    height: 50px;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: #f4f4f4;
                    padding-left: 18px;
                    outline: none; 
                    font-weight: Bold;
                    font-size: 18px;
                }
                & .formInput::placeholder {
                    font-size: 18px;
                    letter-spacing: -0.4px;
                    font-weight: Bold;
                    color: #babac0;
                }
                & .close {
                    position: absolute;
                    display: inline-block;
                    top: 0.6rem;
                    right: 0.5rem;
                    width: 30px;
                    height: 30px;
                    opacity: 0.38;
                }
                & .leftBoxBottom {
                    position: relative;
                    width: 368px;
                    height: 20px;
                    margin-top: 0.5rem;
                    & .formError {
                        position: absolute;
                        top: 0;
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: -0.3px;
                        color: #ff3466;
                        margin-left: 0.3rem;
                    }
                    & .count {
                        position: absolute;
                        display: inline-block;
                        top: 0;
                        right: 0;
                        font-size: 12px;
                        letter-spacing: -0.3px;
                        color: #515861;
                        margin-right: 0.3rem;
                    }
                }
            }
            & .rightBox {
                position: absolute;
                display: inline-block;
                right: 0px;
                width: 134px;
                height: 50px;
                & .button {
                    position: absolute;
                    top: 0;
                    border: none;
                    width: 100%;
                    height: 50px;
                    border-radius: 4px;
                    background-color: #0088ff;
                    outline: none;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.62;
                    text-align: center;
                    color: white;
                    opacity: 0.38;
                }  
                & .loader {
                } 
            }
        }
    }
}