@import url('https://fonts.googleapis.com/css?family=Lato:700,900');

.nav {
	display: flex;
	/*flex: 0 0 60px;*/
}
.menu {
    width: 60px;
}

.head {
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	& .logo {
		display: flex; 
		width: 38px;
		height: 38px;
		border-radius: 8px;
		font-weight: 900;
		background-color: var(--rianColor);
		color: #ffffff;
		font-size: 20px;
		align-items: center;
		justify-content: center;
		font-family: 'Lato';
	}
}

.changeSideBar{
	display: flex;  
	margin: 10% auto 10% auto;
	width: 35px;
	height: 18px;
	border-radius: 8px;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Lato';
	text-align: center;
	color: var(--rianColor);
	align-items: center;
	justify-content: center;
}

.sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .how {	
		display: flex;  
		margin: 10% auto 10% auto;
		width: 35px;
		height: 18px;
		border-radius: 8px;
		font-size: 13px;
		font-weight: 600;
		font-family: 'Lato';
		text-align: center;
		color: var(--rianColor);
		align-items: center;
		justify-content: center;
  }
  & .how:hover {
  	background-color: var(--rianColor);
  	color: #ffffff;
  }
}

.border {
  	height: 1px;
  	width: 18.5px;
  	background-color: #ebebeb;
		margin-top: 20px;
  	margin-bottom: 20px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .toolIcon {
  	padding: 10px;
  }
}
.move {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& .border {
  		height: 1px;
  		width: 18.5px;
  		background-color: #ebebeb;
  		margin-bottom: 20px;
  	}
	& .moveIcon {
		margin: 12px auto 10px auto;
		padding: 2px 0 2px 2px;
		font-family: 'Lato';
		font-size: 11px;
		font-weight: 900;
		color: var(--rianColor);
		width: 40px;
	}
	& .moveIcon:hover {
		margin: 10px auto 10px auto;
		padding: 2px 0 2px 2px;
		font-family: 'Lato';
		font-size: 11px;
		font-weight: 900;
		color:#ffffff;
		width: 40px;
		background-color: var(--rianColor);
	}
}
.status {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& .border {
  		height: 1px;
  		width: 18.5px;
  		background-color: #ebebeb;
  		margin-bottom: 20px;
  }
	& .logo {
		display: flex; 
		width: 38px;
		height: 38px;
		color: var(--rianColor);
		font-size: 20px;
		font-weight: 900;
		align-items: center;
		justify-content: center;
		font-family: 'Lato';
	}
}


#hoverNav {
    display: flex;
    flex-direction: column;
    left: 60px;
		& .navBoxContainer {
			    display: flex;
    			flex-direction: column;
					margin-top: 90px;
					margin-bottom: 90px;
					& .tagBorderTop {
						margin-left: 3px;
						height: 1px;
						width: 40%;
						background-color: #ebebeb;
					}
					& .tagBorderBottom {
						margin-left: 3px;
						height: 1px;
						width: 40%;
						background-color: #ebebeb;
					}
					& .tagContainer {
							overflow: scroll;
							padding-top: 5px;

						& .tag {
							flex: 0 0 30px;
							margin-bottom: 10px;
							padding-left: 3px;
							color: #a5a5a5;
							& .text {
								display: block;
								font-size: 13px;
								font-family: 'Lato';
								width: 70px;
								text-overflow: ellipsis;
								overflow: hidden;
								line-height: 20px;
								align-items: center;
							}
							& .text:hover {
								color: var(--rianColor);
								font-weight: 700;
							}
						}
					}
		}
}
.tagContainer::-webkit-scrollbar {
  display: none;
} 

